
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*---------------------- main part ---------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    background: #2d25a0;
    height: 650px;
    width: 1000px;
    margin: 0;
    width: 800px;
    
  }
  .container {
    padding-left: 20%;
    padding-right: 20%;
  }
  /* navber style */
  
 /*----------------------- style for navbar ---------------- */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    
}
nav {
    display: flex;
  }
  .top h1 {
    font-size: 50px;
  }
  .top img {
    margin-top: 50px;
    width: 100%;
  }

nav > .navbar > .link > ul {
    display: flex;
    padding: 0;
    padding-top: 42px;
}
nav .navbar > .link > ul > li {
    list-style: none;
    padding-right: 36px;
  }
 .navbar > .link > ul > li :hover {
    width: 0%;
    height: 2px;
    background: #a38a93;
    display: block;
    margin: auto;
    transition: 2s ease-in-out ;
    transition-delay: 2s;
    color: tomato;
  }
  nav .navbar > .link > ul > li a  {
     text-decoration: none;
    color: #ffffff;
    font-size: 16px; 

    
  }
  .login{
    background-color: #E02C6D;
    padding: 5px 10px 5px 10px;
    margin-top: 42px;
}
  .login a{
      text-decoration: none;
      color: white;
     
      

  }
.fa-sign-in-alt{
    color: white;
    font-size: 16px;
    
}
.top-image{
    top: 153px;
 
    
    
}
.watch{
    text-decoration: none;
    font-size: 18px;
    background-color:#E02C6D ;
    padding: 5px;
}
.top {
    display: flex;
    padding-top: 50px;
    padding-bottom: 85px;
    justify-content: space-between;
    align-items: center;
  }
  .heading{
      font-size: 60px;
      color: white;
      font-weight: 700;
  }
  .top-image img {
    width: 80%;
    float: right;
  }
  .watch {
    text-align: center;
    padding:5px 5px 5px 5px ;
    width: 120px;
    background: #e02c6d;
    transition: 0.5s;
  }
  .watch a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }
  .watch:hover {
    background: #668f1a;
  }
  .login:hover {
    background-color: yellowgreen;
    transition: .6s;
  }
  
  /* Player information and image */
  .palyer-information {
    margin-top: 70px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
  }
  .player {
    padding: 15px;
    width: 330px;
    height: 430px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .player:hover {
    box-shadow: 2px 5px 20px rgba(0, 119, 182, 0.4);
  }
  .player img {
    width: 328px;
    height: 256px;
  }
  .player h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
  }
  .player p {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
  }
  
  /* Highlight-section */
  
  .highlight-copa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .highlight-copa > .information .section-heading {
    color: #000;
    margin: 0;
    font-size: 50px;
  }
  .highlight-copa > .highlight-picture img {
    width: 567px;
    height: 438px;
  }
  
 
 
  /* footer style */
  
  footer {
    text-align: center;
    margin-bottom: 100px;
  }
  footer img {
    height: 480px;
    height: 110px;
  }
  .logo a {
    text-decoration: none;
    background: rgba(11, 13, 23, 0.1);
    padding: 10px 14px;
    border-radius: 30px;
    transition: 0.5s;
  }
  .logo a:hover {
    background-color: #fb8500;
  }
  .fab:hover {
    color: #fff;
  }
  .fab {
    text-align: center;
    color: rgba(11, 13, 23, 0.7);
    font-size: 16px;
    transition: 0.5s;
  }
  footer p {
    padding-top: 5px;
  }
  
  
  
  /*----------------------------------------
  media query  
  ---------------------------------------*/
  @media  only screen and (max-width:731px) {
     .top, .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-template-columns: repeat(1,1fr);
    }
    .container {
      width: 100%;
    }
    nav {
      display: none;
    }
    
    .top h1 {
      font-size: 40px;
    }
    .top img {
      margin-top: 50px;
      width: 100%;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .highlight-copa {
      display: flex;
      flex-direction: column;
    }
    .highlight-copa > .information .section-heading {
      font-size: 30px;
    }
    .highlight-copa > .highlight-picture img {
      padding-top: 50px;
      width: 360px;
      height: 248px;
    }
    footer {
      text-align: center;
    }
    footer img {
      width: 200px;
      height: 50px;
    }
  }
  
  /*-----------------------------------
  -------------------------- ipad */
/* Tablet Devices */
 @media only screen and (min-width: 688px) and (max-width: 992px) { 
    header .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      grid-template-columns: repeat(2,1fr);
    } 
    
    
    .container {
      width: 100%;
      height: 90%;
    }
  
   
    .players {
      grid-template-columns: repeat(2, 1fr);
      background-color: wheat;
    }
    .highlight-copa {
      display: flex;
      flex-direction: column;
      background-color: wheat;
    }
    .highlight-copa > .information .section-heading {
      font-size: 30px;
    }
    .highlight-copa > .highlight-picture img {
      padding-top: 50px;
      width: 90%;
      margin-left: 10%;
    }
    footer {
      text-align: center;
      
    }
    footer img {
      width: 60%;

  
  }
  
 